@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: Montserrat, Arial;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(240, 239, 239);
}

.input {
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 1% 5%;
}

#taskInput {
    width: 100%;
    margin: 0 10%;
    padding: 0.5rem 1rem;

}

#taskList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}

.tasks {
    flex-direction: column;
    align-content: space-around;
    list-style: none;
    height: 5rem;
    display: inline;
    background-color: white;
    justify-content: start;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: baseline;
    justify-items: start;
}

.delete {
    display: block;
    bottom: 50%;
}